.body {
	margin-bottom: 60px;
}

.comment {
	margin-bottom: 15px;
	width: 40%;
	padding: 15px;
}

.comment-username {
    color: #444;
    display: inline-block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #000;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 20px;
	margin-left: 5px;
	margin-right: 15px;
}

.comment-content {
	margin-top: 2px;
    margin-bottom: 3px;
}

.comment-form {
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 60px;
}

.btn-warning {
    width: 90px;
    height: 35px;
    vertical-align: middle;
    display: block;
    margin: auto;
}